@{
    bool isAuthenticated = base.User.Identity.IsAuthenticated;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TZTDate.Presentation.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggler" data-toggle="open-navbar1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <a href="#">
                        <h4>TZT<span>Date</span></h4>
                    </a>
                </div>

                <div class="navbar-menu" id="open-navbar1">
                    <ul class="navbar-nav">
                        <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (!isAuthenticated)
                        {
                            <li><a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                            <li><a class="nav-link text-dark" asp-controller="User"
                                    asp-action="Register">Register</a></li>
                        }
                        @if (isAuthenticated)
                        {
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="User"
                                    asp-action="Profiles">Profiles</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Forum"
                                    asp-action="Index">Forum</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="LoveCalculator"
                                    asp-action="Index">Love Calculator</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="User"
                                    asp-action="Account">Account</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="User"
                                    asp-action="Logout"><span class="material-symbols-outlined">logout</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>