@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center index">
    <h1 class="display-4">Welcome to the TZT Date!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    .index {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -200px;
        margin-bottom: 100px;
        background-image: url(https://securecp.match.com/en-us/match/index/images/collins/sapphire-pins.jpg);
        width: 100vw;
        height: 90vh;
    }

    .index h1 { 
        color: #fff;
        margin-top: 200px;
    }
    .index p{
        color: #fff;
    }
</style>