@inject UserManager<User> UserManager;
@model FollowMembersViewModel;
@{
    var currentUser = await UserManager.GetUserAsync(User);
    ViewData["Title"] = $"{currentUser?.UserName}'s members";
    var emptyList = new List<User>();
}

@if (!Model.Followers.Any() && !Model.Followed.Any() && !Model.Friends.Any())
{
    <div class="empty-container">Empty</div>
}
else
{
    @foreach (var member in Model.Followers ?? emptyList)
    {
        <div class="member-container">
            <div class="member-image-container">
                <img src="~/Assets/@member?.ProfilePicPaths?[0]" alt="profile-pic">
            </div>
            <div class="member-name-container">
                <span>@member?.UserName</span>
            </div>
            <div class="button-container">
                <button class="like-button">Like</button>
                <button hidden class="unlike-button">Unlike</button>
                <button hidden class="chat-button">Chat</button>
            </div>
        </div>
    }
    @foreach (var member in Model.Followed ?? emptyList)
    {
        <div class="member-container">
            <div class="member-image-container">
                <img src="~/Assets/@member?.ProfilePicPaths?[0]" alt="profile-pic">
            </div>
            <div class="member-name-container">
                <span>@member?.UserName</span>
            </div>
            <div class="button-container">
                <button hidden class="like-button">Like</button>
                <button class="unlike-button">Unlike</button>
                <button hidden class="chat-button">Chat</button>
            </div>
        </div>
    }
    @foreach (var member in Model.Friends ?? emptyList)
    {
        <div class="member-container">
            <div class="member-image-container">
                <img src="~/Assets/@member?.ProfilePicPaths?[0]" alt="profile-pic">
            </div>
            <div class="member-name-container">
                <span>@member?.UserName</span>
            </div>
            <div class="button-container">
                <button hidden class="like-button">Like</button>
                <button class="unlike-button">Unlike</button>
                <button class="chat-button">Chat</button>
            </div>
        </div>
    }
}

<style>
    .empty-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #f8f9fa;
        border: 2px solid #ced4da;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        /* Убедитесь, что z-index выше, чем у футера */
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>