@{
    string email = string.Empty;
    string password = string.Empty;
    string ReturnUrl = ViewData["ReturnUrl"] as string;
}

<img class="login-img"
    src="https://media.istockphoto.com/id/1160835219/photo/wedding-rings-on-the-white-sand-in-the-background-the-newlyweds-and-the-ocean.jpg?s=612x612&w=0&k=20&c=PAwOeB3Kqu2mXPZJh5b7B_NmFsoJ57KZNh4qEIv8wGE=">

<div class="login-div">
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <form class="login" asp-action="Login" method="post">
            <h2>Login</h2>
            <span class="text-danger">@ViewData["Error"]</span>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="inputBx">
                <input asp-for="@email" type="email" class="form-control" placeholder="Email">
            </div>
            <div class="inputBx">
                <input asp-for="@password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="inputBx">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="inputBx">
                <span>Have not account? <a href="/User/Register">Register</a></span>
            </div>
        </form>
    </div>
</div>